.Meno{
    background-color: #acd5f8 ;

}
.Meno2{
    padding: .5rem;
    background-color: #acd5f8;
}
.Meno2 ul{
    padding-top: .2rem;
}
.Meno2 li{
    padding: .2rem;
}
.Meno2 .grouping{
    background-color: #7bb2e3;
}
.Meno2 li:hover{
    background-color: #7bb2e3;
}
.dark .Meno2 .grouping{
    background-color:#48536869;
}
.Meno2 li  i{
    width: 2rem;
    text-align: center;
}
