.Meno2{
    padding: .5rem;
}
.Meno2 ul{
    padding-top: .2rem;
}
.Meno2 li{
    padding: .2rem;
}
.Meno2 .grouping{
    background-color: #c3c0c9;
}
.dark .Meno2 .grouping{
    background-color:#48536869;
}
.Meno2 li  i{
    width: 2rem;
    text-align: center;
}
