@import "tailwindcss";
/* استایل های عمومی */
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: #1e2939;
  font-size: 100%;
  font-family: "Poppins", "Inter", sans-serif;
  color: #ebe6e7;
}
input:focus{
    outline: unset;
}
