@import "tailwindcss";
/* استایل های عمومی */
* {
  box-sizing: border-box;
}
/* html,
body {
  overflow-x: hidden;
} */
body {
  background-color: rgb(183, 185, 187);
  font-size: 100%;
  font-family: "Poppins", "Inter", sans-serif;
}
